/envs
/.vscode
/backend/.env
/backend/node_modules
/frontend/node_modules
/.git

logs
*.log
npm-debug.log*

dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?